.portfolio-section {
    display: flex;
    border-radius: 24px;
    margin: auto;
    width: 90%;
    padding: 4rem;
    gap: 6rem;
    margin-bottom: 5%;
    box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 12%);
    background: #fff;
}

.portfolio-section:hover {
    transition: all 0.4s;
    box-shadow: 15px 15px 35px 15px rgba(0, 0, 0, 12%);
    cursor: pointer;
}